<div class="bigbox">
  <div class="box">
  <h3 class="text-center mt-2 mb-4">Teams</h3>
    <table class="table table-striped mt-2">
    <thead class="thead-dark">
        <tr>
        <th>Name</th>
        <th>View </th> 
        <%if current_user.admin?%>
        <th>Edit </th> 
        <th>Delete </th>
        <%end%>
      </tr>  
      </thead> 
      <tbody>
        <% if current_user.admin? %>
        <% @teams.each do |team| %>
          <tr>
           <td><%= team.name  %></td>
           <td> <%= link_to "View", organization_team_path(1,team), class: "btn btn-dark" %> </td>
           <td><%= link_to "Edit", edit_organization_team_path(1,team), class: "btn btn-dark" %> </td></td>
           <td>
               <%= link_to("Delete", organization_team_path(1,team),class:"btn btn-dark",
               :method => :delete) %>
            </td>
          </tr>
        <% end %> 
        <%end%>
        <% if current_user.team_leader? %>
          <tr>
           <td><%= current_user.team.name  %></td>
           <td> <%= link_to "View", organization_team_path(1,current_user.team_id), class: "btn btn-dark" %> </td>
          </tr>
        <%end%>
      </tbody>
    </table>
<% if current_user.admin?%>
<%= link_to "Create New Team", new_organization_team_path, class:"btn btn-dark" %>
<%end%>
  </div>
</div>