 <%= form_with url: organization_artifact_path(1,artifact), model: artifact do |form| %>
    <div class="mb-3 ml-3">
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    <%= form.submit "Submit"  , class:"btn btn-sm btn-dark" %>
    </div>
  <% end %> 


  <%= form_with url: organization_teams_path(1) do |form| %>
   <div class="ml-3">
      <label class="form-label" for="form3Example1c">Teams</label></br>
      <%= form.select :team_resource, @teams.map {|team| [team.name, team.id] } %> 
      <%= form.hidden_field :artifact, value: @artifact.id %>
      <%= form.submit "Add Resource", class:"btn btn-sm btn-dark" %>
  </div>
<% end %> 